.insert-data-formik {
  background-color: rgb(212, 243, 222);
  padding: 20px;
  &__title {
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(37, 76, 37);
  }
  &__field-div {
    width: 90%;
    height: 65px;
  }
  &__field {
    height: 30px;
    width: calc(#{100vw} - 77px);
    font-size: 18px;
  }
  &__select {
    height: 35px;
    width: calc(#{100vw} - 57px);
    font-size: 18px;
  }
  &__error {
    position: relative;
    width: 250px;
    top: -65px;
    font-size: 10.3px;
    color: red;
  }
  &__button {
    background-color: green;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 20px;
  }
}