.my-paginator {
  width: calc(#{100vw} - 28px);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__page {
    width: 75px;
    margin-top: 3px;
    margin-bottom: 0;
    color: rgb(79, 103, 83);
    font-size: 14px;
  }
  &__buttons {
    width: calc(#{100vw} - 16px);
    display: flex;
    justify-content: flex-end;
    &__button {
      margin-left: 15px;
      width: 60px;
      height: 25px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 0px 3px green;
      background-color: rgb(168, 209, 168);
      color: rgb(23, 103, 35);
      font-weight: 500;
      &:hover {
        background-color: green;
        color: white;
      }
    }
  }
}